header{
    padding: 30px 120px;
    margin-bottom: 12px;
}

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item{
    padding: 8px 25px 25px;
    font-family: 'Poppins', sans-serif;
    color: #3D3D3D;
    font-size: 16px;
}
.list-item.active{
    border-bottom: 3px solid #46A358;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.cta{
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #fff;
    border-radius: 6px;
    background-color: #46A358;
    font-family: 'Poppins', sans-serif;
    
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.main-text{
    padding: 43px;
}

.subtitle{
    color: #3D3D3D;
    margin-bottom: 7px;
    margin-top: 68px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #3D3D3D;
    letter-spacing: 1.4px;

}

.main-title {
    color: #3D3D3D; 
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 5px;
    margin-top: 0;
}

.green-text {
    color: #46A358; 
}

.description {
    color: #727272;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    
}

.shop-btn {
    background-color: #2d7f4e;
    color: #fff;
    border: none;
    padding: 11px 27px 9px 26px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 44px;
    font-family: 'Poppins', sans-serif;
}

.main-image {
    position: relative;
}

.big-plant{
    width: 507px; 
    position: relative;
    z-index: 2;
    display: block;
}

.small-plant{
    width: 135px; 
    position: absolute;
    bottom: 17px;
    left: 55px;
    z-index: 3;
    display: block;
}