@font-face {
    font-family: 'Cera Pro Regular';
    src: url('./fonts/cerapro-regular.woff') format('woff'),
    
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('./fonts/cerapro-bold.woff') format('woff'),
    
}

@font-face {
    font-family: 'Hanging Letters';
    src: url('./fonts/mr_hanginglettersg.woff') format('woff'),
}


body {
    font-family: 'Cera Pro Regular', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #FFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 37px;
    font-family: 'Cera Pro Regular', sans-serif; 
}

.categories-nav {
    display: flex;
    gap: 37px;
    font-size: 15px;
    font-family: 'Cera Pro Regular';
}

.categories-nav span {
    
    color: #3D3D3D;
    font-size: 15px;
    font-family: 'Cera Pro Regular', sans-serif;
    line-height: 16px;
}

.categories-nav .active {
    font-weight: bold;
    color: #46A358;
    position: relative;
}

.categories-nav .active::after {
    content: "";
    width: 65px;
    height: 2px;
    background: #46A358;
    position: absolute;
    left: 0;
    bottom: -5px;
}


.sort {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3D3D3D;
    font-size: 15px;
}

.sort svg {
    width: 12px;
    height: 8px;
    stroke: #3D3D3D;
}


.wrapper {
    display: flex;
    gap: 20px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}


.sidebar {
    display: flex;
    flex-direction: column;
    background: #fbfbfb;
    padding: 20px;
}

.sidebar h2 {
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    font-weight: bold;
    color: #3d3d3d;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 700;
    line-height: 16px;
}


.sidebar ul {
    flex-grow: 1; 
}

.sidebar ul li {
    margin: 5px 0;
    font-size: 15px;
    color: #333;
    margin-left: 30px;
    line-height: 40px;
}

.sidebar ul li .active {
    font-family: 'Cera Pro Bold';
    color: #46a358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.sale-banner {
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.sale-banner h3 {
    font-family: "Hanging Letters";
    color: #46A358;
    font-size: 65px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
}

.sale-banner p {
    
    margin: 11px 0 6px;
    font-size: 23px;
    font-weight: 700;
    line-height: 16px;
}

.sale-banner img {
    mix-blend-mode: multiply;
}


.product-list {
    display: flex;
    flex-direction: column;
}


.products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 41px; 
    align-items: start;
}
.product {
    background: #fff;
    flex-direction: column;   
}

.product h3 {
    font-size: 16px;
    margin: 12px 0 6px;
    text-align: left;
    line-height: 16px;
}

.product p {
    font-family: 'Cera Pro Bold';
    color: #4CAF50;
    font-size: 18px;
    text-align: left;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    height: 300px;
}

.image img {
    mix-blend-mode: multiply;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 90px;
    border-radius: 4px;
}


.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    width: 35px; 
    height: 35px;
    
}


.page-number.active {
    background: #46A358;
    color: #FFF;
}


.page-number:not(.active) {
    border: 1px solid #E5E5E5;
    background: #FFF;
    color: #3D3D3D;
}


.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
}


.next-page svg {
    width: 8px;
    height: 12px;
    stroke: #3D3D3D;
}